.homepage-hero-section { 
    min-height: 75vh;
    background-image: url("/assets/images/justin-bisson-beck-YwFHhIgG77M-unsplash.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.homepage-hero_text{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

.homepage-hero_text h1{
    font-size: 6rem;
    font-family: var(--font-heading);
    color: var(--primary-color);
    text-shadow: var(--secondary-text-color) 3px 3px 5px;
}

.homepage-hero_text p{
    font-size: 2rem;
    font-family: var(--font-heading);
}
