.homepage-hero-section { 
    min-height: 75vh;
    background-image: url("/assets/images/justin-bisson-beck-YwFHhIgG77M-unsplash.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}