.accessibility{
    position: fixed;
    height: 50px;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
}
.accessibility-icon img{
    width: 100%;
    height: 50px;
    min-height: 280px;
    object-fit:contain;
    border-radius: 14px;
}