/* Accessibility Button */
.accessibility {
    position: fixed;
    bottom: 35px;
    right: 35px;
    z-index: 9999;
}

/* Accessibility Icon */
.accessibility-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    cursor: pointer;
}

/* Accessibility Icon Image */
.accessibility-icon img {
    width: 70px;
    height: 70px;
    object-fit: contain;
    border-radius: 14px;
}