:root {

    /* Main Color variables */
    --background-off-white: #F8F9FA;
    --base-surface-white: #FFFFFF;
    --primary-color: #344557;
    --secondary-color: #722F37;
    --accent-color: #F2EC52;

    /* Text color variables */
    --primary-text-color: #333;
    --secondary-text-color: #6C757D;
    --tertiary-text-color: #ADB5BD;
    --quaternary-text-color: #CED4DA;

    /* Main Font variables */

    /*Card variables */
    --border-radius: 1.5rem; 


    /* Event/interactivity variables */
    --transition: all .3s ease-in-out;
    --slower-transition: all .5s ease-in-out;

    /* Accessibility variables */
    --font-family: 'Arial', sans-serif;

}
